.contacts
    a.contact(href="tel:+79189465359")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text +79189465359
    a.contact(href="mailto:roborus@outlook.com")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text roborus@outlook.com
    a.facebook-icon(href="https://facebook.com")
        i.fa.fa-facebook(aria-hidden="true")